@font-face {
    font-family: "DMSans";
    src: url(../fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

:root {
    --clr--green-900: #054D3B;
    --clr--green-400: #799e29;
    --clr--cream: #fbf3e7;
    --clr--white: #FFFFFF;
    --clr--black: #000000;
    --clr--blueish: #273953;
    --clr--lightgray: #d3d3d3;

    --btn-clr--orange: #EE732B;

    --ff-DMSans: "DmSans", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-100: 1rem;
    --fs-200: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;
}

* {
    box-sizing: border-box;
    font-family: var(--ff-DMSans);
}

body {
    background-color: var(--clr--cream);
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--clr--black);
}

footer {
    background-color: var(--clr--green-900);
    color: var(--clr--white);
    margin: 0;
    padding: 2rem 0;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--clr--white);
}

h1 {
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
}

h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

h3 {
    font-size: var(--fs-300);
}

/* UTILITAIRES */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

.banner-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px; 
}

.btn {
    display: inline-block;
    border-radius: 12px;
    padding: 0.7rem 1.1rem;
}

.btn.btn-header {
    background: linear-gradient(to right, var(--clr--green-900), var(--clr--green-400));
    color: white;
}

.btn.btn-green {
    background-color: var(--clr--green-900);
    color: var(--clr--white);
    border: 1px solid var(--clr--green-900);
    transition: all 0.3s ease;
}

.btn.btn-green:hover {
    background-color: var(--clr--white);
    color: var(--clr--green-900);
}

.btn.btn-orange {
    background-color: var(--btn-clr--orange);
    color: var(--clr--white);
    border: 1px solid var(--btn-clr--orange);
    transition: all 0.3s ease;
}

.btn.btn-orange:hover {
    background-color: var(--clr--white);
    color: var(--btn-clr--orange);
}

.btn.btn-white {
    background-color: var(--clr--white);
    color: var(--clr--black);
    transition: all 0.3s ease;
}

.btn.btn-white:hover {
    background-color: var(--clr--green-900);
    color: var(--clr--white);
}

.btn-news {
    border: 1px solid var(--clr--lightgray);
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    font-weight: 600;
    transition: all 0.5s ease;
}

.btn-news:hover {
    background-color: var(--clr--lightgray);
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-dir-column {
    display: flex;
    flex-direction: column;
}

.gap-1rem {
    gap: 1rem;
}

.gap-2rem {
    gap: 2rem;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.grid-4-columns {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
}

.max-height-200px {
    max-height: 200px;
}

.event-meta-green {
    color: var(--clr--green-900)!important;
    border: 1px solid var(--clr--green-900);
}

.event-meta-green:hover {
    color: var(--clr--white)!important;
    border: 1px solid var(--clr--white);
}

/* HEADER */

.logo {
    width: 5rem;
}

nav {
    border-bottom: 1px solid var(--clr--lightgray);
    border-top: 1px solid var(--clr--lightgray);
}

nav a {
    font-weight: var(--fw-bold);
    color: var(--clr--blueish);
    transition: all 0.3s ease;
}

nav a:hover {
    border-bottom: 1px solid var(--clr--black);
}


/* green description */

#green-description {
    margin-block: 3rem;
}

.green-description__text h2 {
    line-height: 2.5rem;
    margin-block: 1rem;
}

.green-description__img img {
    border-radius: 12px 0 0 0;
    box-shadow: 8px 8px 0 0 var(--clr--green-900);
}

/* PROJET */

#projets {
    margin-block: 5rem;
}

.card {
    background-color: var(--clr--white);
    border-radius: 4px;
    padding-inline: 1rem;
}

.card h4 {
    border-bottom: 1px solid var(--clr--lightgray);
    padding-bottom: 1rem;
}


/* SECTION BANNER MISSION */

#banner-mission {
    background:  center/cover no-repeat url(../img/farmer-bg.jpg);
    padding-block: 3rem;
}

#banner-mission img {
    border-radius: 8px;
}

.banner-container {
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--clr--white);
    border-radius: 12px;
}

.banner-description li {
    position: relative; 
    padding-left: 15px;
}

.banner-description li::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 6px;
    left: 0px;
    border-radius: 50%;
    background: radial-gradient(transparent 30%,var(--clr--green-900) 20%);
}

/* Section NEWS */

#actualite .news-card {
    margin-bottom: 1rem;
}

.news-card {
    border-radius: 12px;
    background-color: var(--clr--white);
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 100%;
}

.news-card-img {
    overflow: hidden;
    margin: 0.3rem;
    border-radius: 12px;
    height: 150px;
}

.news-card-img img:hover {
    cursor: pointer;
}

.news-card-description {
    padding: 1rem;
}

.read-more {
    text-decoration: underline;
    color: var(--btn-clr--orange);
}

/* GALERIE */

#galerie {
    margin-block: 5rem;
}

.gallery-grid {
    display: grid;
    grid-template: 150px 150px 150px / 1fr 1fr 1fr;
    gap: 1rem;
}

.gallery-img img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.gallery-img:hover {
    filter: brightness(1.2);
    border: 1px solid var(--clr--white);
    border-radius: 8px;
}

.gallery-img:nth-child(1) {
    grid-row: 1/3;
}

.gallery-img:nth-child(3) {
    grid-row: 1/3;
}

.gallery-img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}

.gallery-img:nth-child(5) {
    grid-column: 1/3;
}

/* VIDEO */

#video {
    margin-block: 4rem;
}

#video iframe {
    border-radius: 8px;
    height: 200px;
    margin-bottom: 1rem;
}

/* DONS */

#don {
    background-color: var(--clr--green-400);
    color: var(--clr--white);
    padding-block: 2rem;
}

#don h3 {
    margin-bottom: 0;
}

/* SUPPORT */

#support {
    margin-block: 5rem;
}

#support img {
    object-fit: fill;
    height: 100px;
}

/* FOOTER */

.footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30%;
    grid-auto-rows: 1fr;
}

.footer-link h3 {
    text-decoration: underline;
}

footer a {
    color: var(--clr--white);
}

footer li {
    margin-bottom: 0.5rem;
}

.minimap iframe {
    border-radius: 12px;
    max-width: 100%;
    max-height: 100%;
}

.minimap {
    max-height: 200px;
}

/* HEADER DE CHAQUE PAGE */

.heading {
    background: linear-gradient( to left, var(--clr--green-900), var(--clr--green-400));
    height: 100px;
    display: flex;
    align-items: center;
}

.heading p {
    font-size: var(--fs-600);
    color: var(--clr--white);
    font-weight: var(--fw-bold);
    text-align: center;
}

/* Section avenir */

.avenir__text h3 {
    margin-block: 0.5rem;
}

#avenir {
    margin-block: 3rem;
}

#avenir img {
    border-radius: 12px 0 0 0;
    box-shadow: -8px -8px 0 0 var(--clr--green-900);
}

#avenir ul {
    padding-left: 40px;
    list-style-type: disc;
}

/* section les humain derrières green earth */

#green-earth-human {
    margin-block: 7rem;
}

.green-earth-human__text {
    text-align: center;
    margin-bottom: 2rem;
}

.card-human {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
    text-align: center;
    border-radius: 12px;
    background-color: var(--clr--white);
    box-shadow: 0px 0px 10px -4px #98A57A;
}

.card-human__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.card-human__img img {
    width: 100%;
    height: 100%;
}

.human__name {
    color: var(--clr--green-900);
    font-weight: var(--fw-bold);
    margin: 2rem 1rem 0.5rem;
}

.human__fonc {
    color: var(--btn-clr--orange);
    margin-top: 0.5rem;
}

/* SECTION IMPACT */

#impact {
    margin-bottom: 5rem;
}

.notre-impact {
    text-align: center;
}

.img-don {
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 10px -4px #98A57A;
}

.img-don img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-impact {
    background-color: var(--clr--white); 
    border-radius: 12px;
    box-shadow: 0px 0px 10px -4px #98A57A;
    text-align: center;
    padding: 2rem 3rem;
}

.impact-chiffre {
    font-weight: 900;
    font-size: 2rem;
}

/* section don */

#don-a-propos {
    background-color: var(--clr--green-900);
    color: var(--clr--white);
    padding: 1rem 0rem;
}

/* section NEWS */

.news {
    margin-block: 4rem;
}

/* PAGE ARTICLES */

#last-news {
    margin-block: 3rem;
}

#recieve-news {
    margin-block: 3rem;
}

.sub-container {
    background-color: var(--clr--white);
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
}

#recieve-news input[type="email"] {
    appearance: none;
    border: 1px solid var(--clr--lightgray);
    width: 30%;
    border-radius: 12px;
    padding-left: 1rem;
    background-color: #F9F9F9;
}


/* PAGE CONTACT */

#apply-with-us {
    text-align: center;
    background-color: var(--clr--green-900);
    color: var(--clr--white);
    padding: 3rem 0 5rem;
    border-bottom: 1px solid var(--clr--white);
}

#contact-form {
    margin-block: 4rem;
}

#contact-form iframe {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

#contact-form .minimap {
    width: 100%;
    height: 400px;
}

.left-container h2 {
    margin: 0;
}

.right-container {
    align-self: center;
}

.right-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--clr--white);
    border-radius: 8px;
    padding: 1rem;
}

.right-container input {
    appearance: none;
    border: none;
    padding-left: 1rem;
    background-color: #F9F9F9;
    border-radius: 4px;
    height: 3rem;
}

.right-container textarea {
    appearance: none;
    border: none;
    padding: 1rem;
    background-color: #F9F9F9;
    border-radius: 4px;
    height: 8rem;
}

.right-container input[type="submit"] {
    border-radius: 8px;
    text-align: start;
    height: 2.5rem;
}

/* PAGE DONS */

#faire-un-don {
    margin-block: 4rem;
}

#faire-un-don .container {
    max-width: 1080px;
}

.faire-un-don-sub-container {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    background-color: var(--clr--white);
    border-radius: 8px;
    padding: 2rem;
}

.faire-un-don__img {
    height: 350px;
}

.faire-un-don__img img {
    width: 100%;
    height: 100%;
    object-position: bottom;
    border-radius: 8px;
    box-shadow: -8px 8px 0 0 var(--clr--green-900);
}

.faire-un-don__text {
    padding-right: 2rem;
}

.faire-un-don__text a, .faire-un-don__text .paiement{
    text-align: center;
}

.contribute {
    font-size: var(--fs-500);
    font-weight: 900;
    margin: 0;
}

.don-total {
    font-size: var(--fs-600);
    font-weight: 900;
    margin: 0;
    line-height: 2.5rem;

}

.objectif-don {
    font-size: small;
    margin-top: 0;
    line-height: 1rem;
    margin-bottom: 2rem;
}

.paiement {
    margin-top: 0;
    text-decoration: underline;
    opacity: 70%;
}

/*  section SOUTENEZ */

#soutenez {
    margin-block: 4rem;
}

#soutenez .container {
    max-width: 700px;
}

.soutenez__title {
    text-align: center;
}

.soutenez__title h2 {
    font-size: var(--fs-500);
    margin-bottom: 0;
}

.soutenez__title p {
    margin-top: 0;
    margin-bottom: 3rem;
}

#soutenez form {
    background-color: var(--clr--white);
    border-radius: 8px;
    padding: 1rem;
}

#soutenez input:not([type="submit"]) {
    appearance: none;
    border: none;
    background-color: #F9F9F9;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 8px;
}

#soutenez input[type="submit"] {
    appearance: none;
    border: none;
    border-radius: 4px;
    width: 100%;
}

.top-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.bottom-form {
    display: grid;
    grid-template-columns: 60% 16% 16%;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.grid-montant {
    grid-column: 1/3;
}

.form-btn {
    width: 70%;
    margin: auto;
}

/* SECTION UNE ARTICLE */

#article-similar {
    margin-block: 4rem;
}

.article-solo__img {
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
}

.article-solo__img img {
    height: 100%;
    width: 100%;
}

#article-solo ul {
    list-style-type: disc;
    padding-left: 40px;
}

.indent {
    padding-inline: 2rem;
}

.container-article {
    display: grid;
    grid-template-columns: auto 295px;
    column-gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.container-aside {
    background-color: #F9F9F9;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0px 0px 10px -4px #98A57A;
}

.sub-container-aside:not(:last-child) {
    border-bottom: 1px solid var(--clr--lightgray);
}

.aside-title {
    color: var(--clr--green-900);
    font-weight: 900;
    font-size: var(--fs-200);
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.container-aside ul {
    list-style-type: disc;
    padding-left: 40px;
}

.container-aside li {
    color: var(--btn-clr--orange);
}

.container-aside li::marker {
    color: var(--clr--black);
}

.container-aside .btn {
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
    .flex-center {
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }

    .grid-4-columns {
        grid-template-columns: 1fr 1fr ;
    }

    .grid-3-columns {
        grid-template-columns: 1fr 1fr;
    }

    .grid-2-columns {
        grid-template-columns: 1fr;
    }

    .banner-container {
        grid-template-columns: 1fr;
    }

    .banner-description {
        margin-bottom: 1rem;
    }

    .flex-rows {
        flex-direction: row;
    }

    .gallery-grid {
        display: grid;
        grid-template: 150px 150px 150px / 1fr 1fr;
        grid-auto-rows: 150px;
        grid-template-areas: "a c"
                             "a c"
                             "d f"
                             "b b"
                             "e e";
        gap: 1rem;
    }

    .gallery-img:nth-child(1) {
        grid-area: a;
    }

    .gallery-img:nth-child(2) {
        grid-area: b;
    }

    .gallery-img:nth-child(3) {
        grid-area: c;
    }

    .gallery-img:nth-child(4) {
        grid-area: d;
    }

    .gallery-img:nth-child(5) {
        grid-area: e;
    }

    .gallery-img:nth-child(6) {
        grid-area: f;
    }

    .footer-link {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        justify-items: center;
    }

    .minimap {
        grid-column: 1/4;
    }

    #recieve-news .flex-center {
        flex-direction: row;
        align-items: stretch;
    }

    .faire-un-don-sub-container {
        grid-template-columns: 1fr;
    }

    .bottom-form {
        grid-template-columns: 1fr 1fr;
    }

    .bottom-form .flex-dir-column:nth-child(1) {
        grid-column: 1/3;
    }

    .container-article {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 500px) {
    .grid-3-columns {
        grid-template-columns: 1fr;
    }

    .banner-container {
        padding: 30px;
    }

    .flex-between {
        flex-direction: column;
        text-align: center;
    }

    header .flex-between {
        flex-direction: row;
    }

    .footer-link {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr 200px 1fr;
        justify-items: center;
        text-align: center;
    }

    .minimap {
        grid-column: 1/2;
    }

    .copyright {
        text-align: center;
    }

    #avenir .grid-2-columns {
        grid-template-rows: 250px 1fr;
    }

    #green-earth-human {
        margin-block: 3rem;
    }

    #recieve-news .flex-center {
        flex-direction: column;
        align-items: center;
    }

    #recieve-news input[type="email"] {
        height: 3rem;
        width: 70%;
    }
}