@font-face {
    font-family: "DMSans";
    src: url(../fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

:root {
    --clr--green-900: #054D3B;
    --clr--green-400: #799e29;
    --clr--cream: #fbf3e7;
    --clr--white: #FFFFFF;
    --clr--black: #000000;
    --clr--blueish: #273953;
    --clr--lightgray: #d3d3d3;

    --btn-clr--orange: #EE732B;

    --ff-DMSans: "DmSans", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-100: 1rem;
    --fs-200: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;
}

* {
    box-sizing: border-box;
    font-family: var(--ff-DMSans);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr--cream);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr--black);
}

footer {
    background-color: var(--clr--green-900);
    color: var(--clr--white);
}

header {
    margin: 0;
    background-color: var(--clr--white);
}

header ul {
    display: flex;
    gap: 2rem;
}

h1 {
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
}

h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

/* UTILITAIRES */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

.banner-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px; 
}

.btn {
    display: inline-block;
    padding: 0.65rem 1.2rem;
    border-radius: 12px;
}

.btn.btn-header {
    background: linear-gradient(to right, var(--clr--green-900), var(--clr--green-400));
    color: white;
}

.btn.btn-green {
    background-color: var(--clr--green-900);
    color: var(--clr--white);
}

.btn.btn-orange {
    background-color: var(--btn-clr--orange);
    color: var(--clr--white);
}

.btn.btn-white {
    background-color: var(--clr--white);
    color: var(--clr--black);
}

.btn-news {
    border: 1px solid var(--clr--lightgray);
    border-radius: 20px;
    padding: 0.5rem;
    font-weight: 600;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* HEADER */

.header-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5rem;
}

nav {
    border-bottom: 1px solid var(--clr--lightgray);
    border-top: 1px solid var(--clr--lightgray);
    padding: 1rem;
}

nav a {
    font-weight: var(--fw-bold);
    color: var(--clr--blueish);
}


/* green description */

.green-container {
    display: flex;
    gap: 1rem;
    margin-block: 5rem;
}

.green-description__text h2 {
    margin-block: 1rem;
    line-height: 2.5rem;
}

.green-description__text p {
    margin-bottom: 1rem;
}

.green-description__img img {
    border-radius: 12px 0 0 0;
    box-shadow: 8px 8px 0 0 var(--clr--green-900);
}

/* PROJET */

.card-container {
    margin-block: 1rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 1rem;
    
}

.card {
    background-color: var(--clr--white);
    border-radius: 4px;
    padding: 1.5rem;
}

.card h4 {
    border-bottom: 1px solid var(--clr--lightgray);
    padding-bottom: 1rem;
}

.card p {
    padding-top: 1rem;
}

/* SECTION BANNER MISSION */

#banner-mission {
    background:  center/cover no-repeat url(../img/farmer-bg.jpg);
    padding-block: 3rem;
    margin-block: 4rem;
}

.banner-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--clr--white);
    border-radius: 12px;
}

#banner-mission img {
    border-radius: 8px;
}

.banner-description h3, .banner-description p , .banner-description li{
    margin-bottom: 1rem;
}

.banner-description ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 1rem;
}

.banner-description li {
    position: relative;
}

.banner-description li::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 8px;
    left: -15px;
    border-radius: 50%;
    background: radial-gradient(transparent 30%,var(--clr--green-900) 20%);
}

/* Section NEWS */

.news-grid-top {
    display: grid;
    grid-template: 300px /50% 50%;
    gap: 1rem;
    margin-block: 1rem;
}

.news-img {
    background: center/cover no-repeat url(../img/global-warming.jpg);
    border-radius: 12px;
}

.news-card {
    border-radius: 12px;
    background-color: var(--clr--white);
    overflow: hidden;
    padding: 0.2rem;
}

.read-more {
    text-decoration: underline;
    color: var(--btn-clr--orange);
}

.news-card-img{
    padding: 0.5rem;
}

.news-card-description {
    padding: 1.5rem;
}

.news-card-description h4 {
    margin: 2rem 0 1rem 0;
}

.news-card-description p {
    margin-bottom: 1rem;
}

.news-grid-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem
}
.news-card-img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
}

.news-card-img.news-card-forest {
    background: center/cover no-repeat url(../img/forest.jpg);
}
.news-card-img.news-card-garbage {
    background: center/cover no-repeat url(../img/garbage.jpg);
}
.news-card-img.news-card-energy {
    background: center/cover no-repeat url(../img/energy.jpg);
}

.btn_news {
    display: flex;
    justify-content: center;
    margin: 2rem 0 8rem 0;
}

/* GALERIE */

#galerie h3 {
    margin-bottom: 1rem;
}

.gallery-grid {
    display: grid;
    grid-template: 150px 150px 150px / 1fr 1fr 1fr;
    gap: 0.7rem;
}

.gallery-img {
    border-radius: 8px;
}

.gallery-img:nth-child(1) {
    background: center/cover no-repeat url(../img/gallery-1.jpg);
    grid-row: 1 / 3;
}

.gallery-img:nth-child(2) {
    background: center/cover no-repeat url(../img/gallery-2.jpg);
}

.gallery-img:nth-child(3) {
    
    background: center/cover no-repeat url(../img/gallery-3.jpg);
    grid-row: 1 / 3;
}

.gallery-img:nth-child(4) {
    background: center/cover no-repeat url(../img/gallery-4.jpg);
    grid-column: 2 / 3;
    grid-row: 2/3;
}

.gallery-img:nth-child(5) {
    background: center/cover no-repeat url(../img/gallery-5.jpg);
    grid-column: 1/3;
}

.gallery-img:nth-child(6) {
    background: center/cover no-repeat url(../img/gallery-6.jpg);
}

/* VIDEO */

.video-grid {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.video-grid iframe {
    border-radius: 8px;
    max-height: 200px;
    margin-bottom: 1rem;
}

#video h3 {
    margin-top: 4rem;
    text-align: right;
    margin-bottom: 1rem;
}

/* DONS */

#don {
    background-color: var(--clr--green-400);
    color: var(--clr--white);
    margin-block: 3rem;
    padding-block: 2rem;
}

.don--text h3 {
    margin-bottom: 1rem;
}

/* SUPPORT */

.support-img-container {
    display: grid;
    grid-template: 100px / repeat(4,1fr);
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.support-img:nth-child(1) {
    background: center/contain no-repeat url(../img/ue.svg); 
}
.support-img:nth-child(2) {
    background: center/contain no-repeat url(../img/ministere-transition-eco.png);
}
.support-img:nth-child(3) {
    background: center/contain no-repeat url(../img/swift-logo-color.svg);
}
.support-img:nth-child(4) {
    background: center/contain no-repeat url(../img/confederation-suisse.svg);
}

/* FOOTER */

footer .container {
    padding-block: 1rem;
}

.a-propos, .liens-utiles, .mentions-legales {
    padding-top: 1rem;
}

.footer-liens {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.a-propos {
    max-width: 30%;
}

.footer-liens h3 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

.footer-liens li {
    margin-bottom: 1rem;
}

.footer-liens a {
    color: var(--clr--white);
}

.minimap iframe {
    border-radius: 12px;
    max-width: 100%;
    max-height: 100%;
}

.minimap {
    max-height: 200px;
    max-width: 30%;
}