@font-face {
    font-family: "DMSans";
    src: url(../fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

:root {
    --clr--green-900: #054D3B;
    --clr--green-400: #799e29;
    --clr--cream: #fbf3e7;
    --clr--white: #FFFFFF;
    --clr--black: #000000;
    --clr--blueish: #273953;
    --clr--lightgray: #d3d3d3;

    --btn-clr--orange: #EE732B;

    --ff-DMSans: "DmSans", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-100: 1rem;
    --fs-200: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;
}

* {
    box-sizing: border-box;
    font-family: var(--ff-DMSans);
}

body {
    background-color: var(--clr--cream);
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--clr--black);
}

footer {
    background-color: var(--clr--green-900);
    color: var(--clr--white);
    margin: 0;
    padding: 2rem 0;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--clr--white);
}

h1 {
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
}

h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

h3 {
    font-size: var(--fs-300);
}

/* UTILITAIRES */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

.banner-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px; 
}

.btn {
    display: inline-block;
    border-radius: 12px;
    padding: 0.7rem 1.1rem;
}

.btn.btn-header {
    background: linear-gradient(to right, var(--clr--green-900), var(--clr--green-400));
    color: white;
}

.btn.btn-green {
    background-color: var(--clr--green-900);
    color: var(--clr--white);
}

.btn.btn-orange {
    background-color: var(--btn-clr--orange);
    color: var(--clr--white);
}

.btn.btn-white {
    background-color: var(--clr--white);
    color: var(--clr--black);
}

.btn-news {
    border: 1px solid var(--clr--lightgray);
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    font-weight: 600;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
}

.gap-1rem {
    gap: 1rem;
}

.gap-2rem {
    gap: 2rem;
}

.flex-align-center {
    align-items: center;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.grid-4-columns {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
}

.max-height-200px {
    max-height: 200px;
}

/* HEADER */

.logo {
    width: 5rem;
}

nav {
    border-bottom: 1px solid var(--clr--lightgray);
    border-top: 1px solid var(--clr--lightgray);
}

nav a {
    font-weight: var(--fw-bold);
    color: var(--clr--blueish);
}


/* green description */

#green-description {
    margin-block: 3rem;
}

.green-description__text h2 {
    line-height: 2.5rem;
    margin-block: 1rem;
}

.green-description__img img {
    border-radius: 12px 0 0 0;
    box-shadow: 8px 8px 0 0 var(--clr--green-900);
}

/* PROJET */

#projets {
    margin-block: 5rem;
}

.card {
    background-color: var(--clr--white);
    border-radius: 4px;
    padding-inline: 1rem;
}

.card h4 {
    border-bottom: 1px solid var(--clr--lightgray);
    padding-bottom: 1rem;
}


/* SECTION BANNER MISSION */

#banner-mission {
    background:  center/cover no-repeat url(../img/farmer-bg.jpg);
    padding-block: 3rem;
}

#banner-mission img {
    border-radius: 8px;
}

.banner-container {
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--clr--white);
    border-radius: 12px;
}

.banner-description ul {
    padding-left: 15px;
}

.banner-description li {
    position: relative;
}

.banner-description li::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 6px;
    left: -15px;
    border-radius: 50%;
    background: radial-gradient(transparent 30%,var(--clr--green-900) 20%);
}

/* Section NEWS */

.news-card {
    border-radius: 12px;
    background-color: var(--clr--white);
    overflow: hidden;
    margin-bottom: 1rem;
}

.news-card img {
    width: 100%;
    height: 100%;
}

.news-card-img {
    overflow: hidden;
    margin: 0.3rem;
    border-radius: 12px;
}

.news-card-description {
    padding: 1rem;
}

.read-more {
    text-decoration: underline;
    color: var(--btn-clr--orange);
}

/* GALERIE */

#galerie {
    margin-block: 5rem;
}

.gallery-grid {
    display: grid;
    grid-template: 150px 150px 150px / 1fr 1fr 1fr;
    gap: 1rem;
}

.gallery-img img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.gallery-img:nth-child(1) {
    grid-row: 1/3;
}

.gallery-img:nth-child(3) {
    grid-row: 1/3;
}

.gallery-img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}

.gallery-img:nth-child(5) {
    grid-column: 1/3;
}

/* VIDEO */

#video {
    margin-block: 4rem;
}

#video iframe {
    border-radius: 8px;
    max-height: 200px;
    margin-bottom: 1rem;
}

/* DONS */

#don {
    background-color: var(--clr--green-400);
    color: var(--clr--white);
    padding-block: 2rem;
}

#don h3 {
    margin-bottom: 0;
}

/* SUPPORT */

#support {
    margin-block: 5rem;
}

#support img {
    object-fit: fill;
    height: 100px;
}

/* FOOTER */

.footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30%;
    grid-auto-rows: 1fr;
}

.footer-link h3 {
    text-decoration: underline;
}

footer a {
    color: var(--clr--white);
}

footer li {
    margin-bottom: 0.5rem;
}

.minimap iframe {
    border-radius: 12px;
    max-width: 100%;
    max-height: 100%;
}

.minimap {
    max-height: 200px;
}

/* PAGE A PROPOS */

#more-on-us {
    background: linear-gradient( to left, var(--clr--green-900), var(--clr--green-400));
    height: 100px;
    display: flex;
    align-items: center;
}

#more-on-us p {
    font-size: var(--fs-600);
    color: var(--clr--white);
    font-weight: var(--fw-bold);
    text-align: center;
}